In [11]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 

%matplotlib inline

In [12]:
# load data

In [ ]:
df_2013 = pd.read_csv('2013_final/senate_2013.csv') #2013 winners

In [134]:
df_nom = pd.read_csv('nominations_data/senate_nom.csv') # Primary candidates vying for nominations

In [145]:
df_cand = pd.read_csv('candidates_data/senate_2017.csv') #Party candidate / Independent

In [38]:
df_2017 = pd.read_csv('2017_final/senate_2017.csv') # 2017 winners

In [40]:
df_2013.head(3)

,County Code,Unnamed: 1,Unnamed: 2,Unnamed: 3,County Name,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Full Names B,Unnamed: 18,Unnamed: 19,Party/Independent Candidate
0,1,NaN,NaN,NaN,Mombasa,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Hassan,NaN,NaN,Wiper Democratic Movement- Kenya
1,2,NaN,NaN,NaN,Kwale,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Boy,NaN,NaN,Orange Democratic Movement
2,3,NaN,NaN,NaN,Kilifi,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Madzayo,NaN,NaN,Orange Democratic Movement

## Clean 2013 Data

In [41]:
df_2013.dropna(axis=1,inplace=True)

In [43]:
# join first and last names

In [44]:
df_2013['name'] = df_2013[['Full Names A','Full Names B']].apply(lambda x: ' '.join(x), axis=1)

In [45]:
df_2013 = df_2013[['County Code','County Name','name', 'Party/Independent Candidate']]

In [46]:
df_2013.columns = ['c_code','county','name','party']

In [48]:
df_2013.head(3)

,c_code,county,name,party
0,1,Mombasa,Hassan Omar Hassan,Wiper Democratic Movement- Kenya
1,2,Kwale,Boy Juma Boy,Orange Democratic Movement
2,3,Kilifi,Stewart Mwachiru Shadrack Madzayo,Orange Democratic Movement

In [47]:
df_2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 4 columns):
c_code    47 non-null int64
county    47 non-null object
name      47 non-null object
party     47 non-null object
dtypes: int64(1), object(3)
memory usage: 1.5+ KB

## Clean 2017 Data

In [50]:
df_2017.head(2)

,mz_id,id,name,honorific_prefix,honorific_suffix,gender,birth_date,election,party_id,party_name,...,image_url,proxy_image_url_template,image_copyright,image_uploading_user,image_uploading_user_notes,twitter_user_id,election_date,election_current,party_lists_in_use,party_list_position
0,305.0,169,Gideon Kipsielei Towett Moi,NaN,NaN,Male,NaN,se-2017,party:33,Kenya African National Union,...,http://kenya.ynr.mysociety.org/media/images/im...,NaN,profile-photo,jessica_musila,https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-...,1.072908e+09,08/08/2017,True,False,NaN
1,NaN,194,Christopher Andrew Langat,NaN,NaN,Male,NaN,se-2017,party:27,Jubilee Party,...,http://kenya.ynr.mysociety.org/media/images/im...,NaN,profile-photo,jessica_musila,https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-...,NaN,08/08/2017,True,False,NaN

In [51]:
df_2017 = df_2017[['post_id','post_label','name', 'gender', 'birth_date', 'party_name' ]]

In [61]:
df_2017.columns = ['c_code','county','name','gender', 'dob', 'party']

In [62]:
df_2017['c_code'] = df_2017['c_code'].str.replace("se-","")

In [63]:
df_2017.head(2)

,c_code,county,name,gender,dob,party
0,30,Baringo,Gideon Kipsielei Towett Moi,Male,NaN,Kenya African National Union
1,36,Bomet,Christopher Andrew Langat,Male,NaN,Jubilee Party

In [57]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 6 columns):
c_code    47 non-null object
county    47 non-null object
name      47 non-null object
gender    47 non-null object
dob       8 non-null object
party     47 non-null object
dtypes: object(6)
memory usage: 2.3+ KB

## Clean Nomination 2017 Data

In [135]:
df_nom.head(3)

,County Code,County Name,Surname,Other Name,ID. No.,YOB,PWD,Gender,Party,Party_abv
0,1,Mombasa,Kassim,Abdusalaam Ali,10093749,1/1/1970,No,Male,JUBILEE PARTY,JP
1,1,Mombasa,Swabir,Abuubakar Mahadhi,30474451,8/13/1992,No,Male,JUBILEE PARTY,JP
2,1,Mombasa,Katana,Hazel Nyamoki,6729577,4/1/1959,No,Female,JUBILEE PARTY,JP

In [136]:
df_nom['name'] = df_nom[['Other Name','Surname']].apply(lambda x: ' '.join(x), axis=1).str.lower()

In [137]:
df_nom = df_nom.drop(['Surname','Other Name'],axis=1)

In [138]:
# df_nom.Party = df_nom['Party'].replace('Jubilee','Jubilee Party')

In [139]:
df_nom.head(2)

,County Code,County Name,ID. No.,YOB,PWD,Gender,Party,Party_abv,name
0,1,Mombasa,10093749,1/1/1970,No,Male,JUBILEE PARTY,JP,abdusalaam ali kassim
1,1,Mombasa,30474451,8/13/1992,No,Male,JUBILEE PARTY,JP,abuubakar mahadhi swabir

In [140]:
df_nom.columns = ['c_code','county','id_no','yob','pwd','gender','party','party_abv','name']

In [141]:
df_nom = df_nom[['c_code','county','name','id_no','yob','pwd','gender','party_abv']]

In [142]:
df_nom.head(3)

,c_code,county,name,id_no,yob,pwd,gender,party_abv
0,1,Mombasa,abdusalaam ali kassim,10093749,1/1/1970,No,Male,JP
1,1,Mombasa,abuubakar mahadhi swabir,30474451,8/13/1992,No,Male,JP
2,1,Mombasa,hazel nyamoki katana,6729577,4/1/1959,No,Female,JP

In [143]:
df_nom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 8 columns):
c_code       236 non-null int64
county       236 non-null object
name         236 non-null object
id_no        233 non-null object
yob          172 non-null object
pwd          169 non-null object
gender       235 non-null object
party_abv    236 non-null object
dtypes: int64(1), object(7)
memory usage: 14.8+ KB

## Clean Candidates 2017 Data

In [146]:
df_cand.head(3)

,No,Surname,Other Names,County Code,County Name,Party Code,Political Party Name,Abbrv,Gender
0,1,BAJABER,YASSER ALI SHEIKH,1,MOMBASA,23,FORUM FOR RESTORATION OF DEMOCRACY-KENYA,FORD-KENYA,Male
1,2,CHOME,ONESMAS HABEL,1,MOMBASA,42,SHIRIKISHO PARTY OF KENYA,SPK,Male
2,3,FONDO,FLORENCE WAWUDA,1,MOMBASA,60,VIBRANT DEMOCRATIC PARTY,VDP,Female

In [147]:
df_cand['name'] = df_cand[['Other Names','Surname']].apply(lambda x: ' '.join(x), axis=1).str.lower()

In [148]:
df_cand = df_cand.drop(['Surname','Other Names'],axis=1)

In [149]:
df_cand = df_cand[['County Code', 'County Name', 'name','Gender','Abbrv']]

In [150]:
df_cand.columns = ['c_code','county','name','gender','party_abv']

In [151]:
df_cand.head(3)

   c_code   county                       name  gender   party_abv
0       1  MOMBASA  yasser ali sheikh bajaber    Male  FORD-KENYA
1       1  MOMBASA        onesmas habel chome    Male         SPK
2       1  MOMBASA      florence wawuda fondo  Female         VDP

In [152]:
df_cand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 5 columns):
c_code       257 non-null int64
county       257 non-null object
name         257 non-null object
gender       257 non-null object
party_abv    257 non-null object
dtypes: int64(1), object(4)
memory usage: 10.1+ KB

###  Merge the details from all the dataset

In [82]:
df_2013.columns

Index(['c_code', 'county', 'name', 'party'], dtype='object')

In [83]:
df_2017.columns

Index(['c_code', 'county', 'name', 'gender', 'dob', 'party'], dtype='object')

In [153]:
df_nom.columns

Index(['c_code', 'county', 'name', 'id_no', 'yob', 'pwd', 'gender',
       'party_abv'],
      dtype='object')

In [154]:
df_cand.columns

Index(['c_code', 'county', 'name', 'gender', 'party_abv'], dtype='object')

**Projected steps**
- concat nominations and final candidates datasets
- add column `2013` with a yes(1) or No(0) to this dataset
- add `won` column with yes(1) or No(0)

In [155]:
candidates = pd.concat([df_nom,df_cand])

In [194]:
candidates.head(3)

,c_code,county,gender,id_no,name,party_abv,pwd,yob
0,1,Mombasa,Male,10093749,abdusalaam ali kassim,JP,No,1/1/1970
1,1,Mombasa,Male,30474451,abuubakar mahadhi swabir,JP,No,8/13/1992
2,1,Mombasa,Female,6729577,hazel nyamoki katana,JP,No,4/1/1959

In [195]:
candidates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 493 entries, 0 to 256
Data columns (total 8 columns):
c_code       493 non-null int64
county       493 non-null object
gender       492 non-null object
id_no        233 non-null object
name         493 non-null object
party_abv    493 non-null object
pwd          169 non-null object
yob          172 non-null object
dtypes: int64(1), object(7)
memory usage: 44.7+ KB

**fill `birth_year` with mean `yob` **

In [252]:
candidates['birth_year'] = candidates['yob'].str.split('/').str.get(2).apply(pd.to_numeric)

In [253]:
candidates['birth_year'] = candidates['birth_year'].fillna(candidates['birth_year'].mean()).round(0).astype(int)

In [256]:
candidates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 493 entries, 0 to 256
Data columns (total 9 columns):
c_code        493 non-null int64
county        493 non-null object
gender        492 non-null object
id_no         233 non-null object
name          493 non-null object
party_abv     493 non-null object
pwd           169 non-null object
yob           172 non-null object
birth_year    493 non-null int64
dtypes: int64(2), object(7)
memory usage: 48.5+ KB

In [197]:
from fuzzywuzzy import fuzz, process

In [199]:
fuzz.ratio(candidates['name'][1],candidates['name'][2])

46

In [158]:
# party_abv = {'narc_kenya':	'national rainbow coalition-kenya', 'nvp':	'the national vision', 'lpk':	'labour party of kenya', 'cmd':	'chama mwangaza daima', 'pick':	'party of independent candidates', 'rbk':	'restore and build kenya', 'knc':	'kenya national congress', 'mgpk':	'mazingira greens party of kenya', 'wdm_k':	'wiper democratic movement- kenya', 'dp':	'democratic party of kenya', 'pnu':	'party of national unity', 'pdr':	'party for development and reform', 'agano':	'agano party', 'ksc':	'kenya social congress', 'odm':	'orange democratic movement', 'ppk':	'peoples party of kenya', 'ford_kenya':	'forum for restoration of democracy-kenya', 'ppok':	'progressive party of kenya', 'jp':	'jubilee party', 'mdp':	'maendeleo democratic', 'narc':	'national rainbow coalition', 'kadu_asili':   'kenya african democratic union-asili', 'kpp':	'kenya patriots party', 'sdp':	'social democratic party of kenya', 'kanu':	'kenya african national union', 'safina':	'safina', 'ccu':	'chama cha uzalendo', 'napk':	'national agenda party of kenya', 'pep':	'peoples empowerment party', 'pdp':	'peoples democratic party', 'nd':	'new democrats', 'udm':	'united democratic movement', 'spk':	'shirikisho party of kenya', 'pdu':	'party of democratic  unity', 'fap':	'frontier alliance party', 'fp':	'farmers party', 'efp':	'economic freedom party', 'fpk':	'federal party of kenya', 'muungano':	'muungano party', 'npk':	'national party of kenya', 'mss':	'mzalendo saba saba party', 'kenda':	'kenya national democratic alliance', 'ccm':	'chama cha mashinani', 'ark':	'alliance for real change', 'ford':	'forum for republican democracy', 'rlp':	'republican liberty party', 'rpk':	'roots party of kenya', 'vdp':	'vibrant democratic party', 'ccp':	'citizens convention party', 'anc':	'amani national congress', 'dpk':	'devolution party of kenya', 'udp':	'united democratic', 'dda':	'diligence development alliance', 'ptp':	'peoples trust party', 'mccp':	'maendeleo chap chap party', 'dc':	'democratic congress', 'ldp':	'liberal democratic party', 'gck':	'green congress of kenya', 'nlp':	'national liberal party', 'mdg':	'movement for democracy and growth', 'alpk':	'alternative leadership party of kenya', 'up':	'ukweli party', 'elp':	'empowerment and liberation party', 'tak':	'thirdway alliance kenya', 'jfp':	'justice and freedom party', 'ind':	'independent'}