In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 

%matplotlib inline

In [2]:
# load data

In [370]:
df_2013 = pd.read_csv('2013_final/senate_2013.csv') #2013 winners

In [471]:
df_nom = pd.read_csv('nominations_data/senate_nom.csv') # Primary candidates vying for nominations

In [472]:
df_cand = pd.read_csv('candidates_data/senate_2017.csv') #Party candidate / Independent

In [372]:
df_2017 = pd.read_csv('2017_final/senate_2017.csv') # 2017 winners

## Clean 2013 Data

In [419]:
df_2013.head(2)

,County Code,Unnamed: 1,Unnamed: 2,Unnamed: 3,County Name,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Full Names B,Unnamed: 18,Unnamed: 19,Party/Independent Candidate
0,1,NaN,NaN,NaN,Mombasa,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Hassan,NaN,NaN,Wiper Democratic Movement- Kenya
1,2,NaN,NaN,NaN,Kwale,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Boy,NaN,NaN,Orange Democratic Movement

In [420]:
df_2013.dropna(axis=1,inplace=True)

### join first and last names

In [421]:
df_2013['name'] = df_2013[['Full Names A','Full Names B']].apply(lambda x: ' '.join(x), axis=1).str.lower()

In [422]:
df_2013 = df_2013[['County Code','County Name','name', 'Party/Independent Candidate']]

In [423]:
df_2013.columns = ['c_code','county','name','party']

In [424]:
df_2013['county'] = df_2013['county'].str.lower()

In [425]:
df_2013.head(3)

,c_code,county,name,party
0,1,mombasa,hassan omar hassan,Wiper Democratic Movement- Kenya
1,2,kwale,boy juma boy,Orange Democratic Movement
2,3,kilifi,stewart mwachiru shadrack madzayo,Orange Democratic Movement

In [426]:
df_2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 4 columns):
c_code    47 non-null int64
county    47 non-null object
name      47 non-null object
party     47 non-null object
dtypes: int64(1), object(3)
memory usage: 1.5+ KB

## Clean 2017 Data

In [373]:
df_2017.head(2)

,mz_id,id,name,honorific_prefix,honorific_suffix,gender,birth_date,election,party_id,party_name,...,image_url,proxy_image_url_template,image_copyright,image_uploading_user,image_uploading_user_notes,twitter_user_id,election_date,election_current,party_lists_in_use,party_list_position
0,305.0,169,Gideon Kipsielei Towett Moi,NaN,NaN,Male,NaN,se-2017,party:33,Kenya African National Union,...,http://kenya.ynr.mysociety.org/media/images/im...,NaN,profile-photo,jessica_musila,https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-...,1.072908e+09,08/08/2017,True,False,NaN
1,NaN,194,Christopher Andrew Langat,NaN,NaN,Male,NaN,se-2017,party:27,Jubilee Party,...,http://kenya.ynr.mysociety.org/media/images/im...,NaN,profile-photo,jessica_musila,https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.0-...,NaN,08/08/2017,True,False,NaN

In [374]:
df_2017 = df_2017[['post_id','post_label','name', 'gender', 'birth_date', 'party_name' ]]

In [375]:
df_2017.columns = ['c_code','county','name','gender', 'dob', 'party']

In [376]:
df_2017['c_code'] = df_2017['c_code'].str.replace("se-","")
df_2017['name'] = df_2017['name'].str.lower()

In [377]:
df_2017.head(2)

,c_code,county,name,gender,dob,party
0,30,Baringo,gideon kipsielei towett moi,Male,NaN,Kenya African National Union
1,36,Bomet,christopher andrew langat,Male,NaN,Jubilee Party

In [378]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 6 columns):
c_code    47 non-null object
county    47 non-null object
name      47 non-null object
gender    47 non-null object
dob       8 non-null object
party     47 non-null object
dtypes: object(6)
memory usage: 2.3+ KB

## Clean Nomination 2017 Data

In [473]:
df_nom.head(3)

,County Code,County Name,Surname,Other Name,ID. No.,YOB,PWD,Gender,Party,Party_abv
0,1,Mombasa,Kassim,Abdusalaam Ali,10093749,1/1/1970,No,Male,JUBILEE PARTY,JP
1,1,Mombasa,Swabir,Abuubakar Mahadhi,30474451,8/13/1992,No,Male,JUBILEE PARTY,JP
2,1,Mombasa,Katana,Hazel Nyamoki,6729577,4/1/1959,No,Female,JUBILEE PARTY,JP

In [474]:
df_nom['name'] = df_nom[['Other Name','Surname']].apply(lambda x: ' '.join(x), axis=1).str.lower()
df_nom['County Name'] = df_nom['County Name'].str.lower()
df_nom['Gender'] = df_nom['Gender'].str.lower()

In [475]:
df_nom = df_nom.drop(['Surname','Other Name'],axis=1)

In [476]:
# df_nom.Party = df_nom['Party'].replace('Jubilee','Jubilee Party')

In [477]:
df_nom.head(2)

,County Code,County Name,ID. No.,YOB,PWD,Gender,Party,Party_abv,name
0,1,mombasa,10093749,1/1/1970,No,male,JUBILEE PARTY,JP,abdusalaam ali kassim
1,1,mombasa,30474451,8/13/1992,No,male,JUBILEE PARTY,JP,abuubakar mahadhi swabir

In [478]:
df_nom.columns = ['c_code','county','id_no','yob','pwd','gender','party','party_abv','name']

In [479]:
df_nom = df_nom[['c_code','county','name','id_no','yob','pwd','gender','party_abv']]

In [480]:
df_nom.head(3)

,c_code,county,name,id_no,yob,pwd,gender,party_abv
0,1,mombasa,abdusalaam ali kassim,10093749,1/1/1970,No,male,JP
1,1,mombasa,abuubakar mahadhi swabir,30474451,8/13/1992,No,male,JP
2,1,mombasa,hazel nyamoki katana,6729577,4/1/1959,No,female,JP

In [481]:
df_nom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 8 columns):
c_code       236 non-null int64
county       236 non-null object
name         236 non-null object
id_no        233 non-null object
yob          172 non-null object
pwd          169 non-null object
gender       235 non-null object
party_abv    236 non-null object
dtypes: int64(1), object(7)
memory usage: 14.8+ KB

## Clean Candidates 2017 Data

In [482]:
df_cand.head(3)

,No,Surname,Other Names,County Code,County Name,Party Code,Political Party Name,Abbrv,Gender
0,1,BAJABER,YASSER ALI SHEIKH,1,MOMBASA,23,FORUM FOR RESTORATION OF DEMOCRACY-KENYA,FORD-KENYA,Male
1,2,CHOME,ONESMAS HABEL,1,MOMBASA,42,SHIRIKISHO PARTY OF KENYA,SPK,Male
2,3,FONDO,FLORENCE WAWUDA,1,MOMBASA,60,VIBRANT DEMOCRATIC PARTY,VDP,Female

In [483]:
df_cand['name'] = df_cand[['Other Names','Surname']].apply(lambda x: ' '.join(x), axis=1).str.lower()
df_cand['County Name'] = df_cand['County Name'].str.lower()
df_cand['Gender'] = df_cand['Gender'].str.lower()

In [484]:
df_cand = df_cand.drop(['Surname','Other Names'],axis=1)

In [485]:
df_cand = df_cand[['County Code', 'County Name', 'name','Gender','Abbrv']]

In [486]:
df_cand.columns = ['c_code','county','name','gender','party_abv']

In [487]:
df_cand.head(3)

   c_code   county                       name  gender   party_abv
0       1  mombasa  yasser ali sheikh bajaber    male  FORD-KENYA
1       1  mombasa        onesmas habel chome    male         SPK
2       1  mombasa      florence wawuda fondo  female         VDP

In [488]:
df_cand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 5 columns):
c_code       257 non-null int64
county       257 non-null object
name         257 non-null object
gender       257 non-null object
party_abv    257 non-null object
dtypes: int64(1), object(4)
memory usage: 10.1+ KB

###  Merge the details from all the dataset

In [427]:
df_2013.columns

Index(['c_code', 'county', 'name', 'party'], dtype='object')

In [428]:
df_2017.columns

Index(['c_code', 'county', 'name', 'gender', 'dob', 'party'], dtype='object')

In [429]:
df_nom.columns

Index(['c_code', 'county', 'name', 'id_no', 'yob', 'pwd', 'gender',
       'party_abv'],
      dtype='object')

In [430]:
df_cand.columns

Index(['c_code', 'county', 'name', 'gender', 'party_abv'], dtype='object')

**Projected steps**
- concat nominations and final candidates datasets
- add column `2013` with a yes(1) or No(0) to this dataset
- add `won` column with yes(1) or No(0)

### i. concat nominations and final candidates datasets

In [489]:
candidates = pd.merge(df_nom,df_cand,how='outer',indicator=True)

In [490]:
candidates.head(3)

,c_code,county,name,id_no,yob,pwd,gender,party_abv,_merge
0,1,mombasa,abdusalaam ali kassim,10093749,1/1/1970,No,male,JP,left_only
1,1,mombasa,abuubakar mahadhi swabir,30474451,8/13/1992,No,male,JP,left_only
2,1,mombasa,hazel nyamoki katana,6729577,4/1/1959,No,female,JP,both

**fill `birth_year` with mean `yob` **

In [491]:
candidates['birth_year'] = candidates['yob'].str.split('/').str.get(2).apply(pd.to_numeric)

In [492]:
candidates['birth_year'] = candidates['birth_year'].fillna(candidates['birth_year'].mean()).round(0).astype(int)

In [493]:
candidates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 444 entries, 0 to 443
Data columns (total 10 columns):
c_code        444 non-null int64
county        444 non-null object
name          444 non-null object
id_no         233 non-null object
yob           172 non-null object
pwd           169 non-null object
gender        443 non-null object
party_abv     444 non-null object
_merge        444 non-null category
birth_year    444 non-null int64
dtypes: category(1), int64(2), object(7)
memory usage: 35.2+ KB

### add column in_2013 with a yes-(1) or no-(0) to this dataset

- create a List object with all the names of senators from 2013
- apply function to each candidates profile, if yes - 1,  no-0 to a `in_2013` column

In [494]:
sen_2013 = list(df_2013['name'])

In [495]:
def check_2013(name):
    if name in sen_2013:
        return 1
    else:
        return 0

In [496]:
candidates['in_2013'] = candidates['name'].apply(check_2013)

In [497]:
candidates['in_2013'].value_counts()

0    426
1     18
Name: in_2013, dtype: int64

### Indicate 2017 winners with a yes-(1) or no-(0) in `won_2017` column

In [498]:
sen_2017 = list(df_2017['name'])

In [499]:
def won2017(name):
    if name in sen_2017:
        return 1
    else:
        return 0

In [500]:
candidates['won_2017'] = candidates['name'].apply(won2017)

In [501]:
candidates['won_2017'].value_counts()

0    395
1     49
Name: won_2017, dtype: int64

In [502]:
candidates[candidates['won_2017']==1]

,c_code,county,name,id_no,yob,pwd,gender,party_abv,_merge,birth_year,in_2013,won_2017
11,2,kwale,issa juma boy,2209681,NaN,NaN,male,ODM,both,1968,0,1
30,6,taita taveta,golich juma wario,12726552,1/1/1972,No,male,JP,left_only,1972,0,1
32,6,taita taveta,johnes mwashushe mwaruma,11868567,NaN,NaN,male,ODM,both,1968,0,1
33,7,garissa,mohamed yusuf haji,340497,12/23/1940,No,male,JP,both,1940,1,1
35,8,wajir,abdullahi ibrahim ali,2109980,1/1/1963,No,male,JP,both,1963,0,1
40,9,mandera,mohamed maalim mahamud,4830144,7/4/1953,No,male,JP,both,1953,0,1
45,12,meru,franklin mithika linturi,10146839,1/1/1969,No,male,JP,both,1969,0,1
48,14,embu,peter njeru ndwiga,3435172,1/4/1954,No,male,JP,both,1954,0,1
57,18,nyandarua,paul githiomi mwangi,53196,2/14/1955,No,male,JP,both,1955,0,1
73,20,kirinyaga,charles reubenson kibiru,6448997,7/27/1967,No,male,JP,left_only,1967,0,1
76,21,murang'a,irungu kang'ata,21775938,2/20/1980,No,male,JP,both,1980,0,1
88,23,turkana,malachy charles ekal imana,4840444,NaN,NaN,male,ODM,both,1968,0,1
91,25,samburu,steve ltumbesi lelegwe,22789020,9/14/1981,No,male,JP,both,1981,0,1
107,27,uasin gishu,margaret jepkoech kamar,287418,4/28/1959,No,female,JP,both,1959,0,1
121,28,elgeyo marakwet,onesimus kipchumba murkomen,22025845,3/12/1979,No,male,JP,both,1979,1,1
150,31,laikipia,john kinyua nderitu,14427734,1/1/1975,No,male,JP,both,1975,0,1
152,32,nakuru,susan wakarura kihika,13132874,12/9/1973,No,female,JP,both,1973,0,1
162,33,narok,ledama ole kina,12422950,NaN,NaN,male,ODM,both,1968,0,1
170,35,kericho,aaron kipkirui cheruiyot,24770581,2/23/1986,No,male,JP,both,1986,0,1
204,42,kisumu,fredrick otieno outa,6611121,NaN,NaN,male,ODM,both,1968,0,1
211,43,homa bay,moses otieno kajwang,20825803,NaN,NaN,male,ODM,both,1968,0,1
214,44,migori,ben oluoch okello,3946578,NaN,NaN,male,ODM,both,1968,0,1
224,45,kisii,samson kegengo ongeri,4831549,NaN,NaN,male,ODM,both,1968,0,1
230,47,nairobi,johnson arthur sakaja,A1627553,2/2/2017,No,male,JP,both,2017,0,1
242,1,mombasa,mohamed faki mwinyihaji,NaN,NaN,NaN,male,ODM,right_only,1968,0,1
255,3,kilifi,stewart mwachiru shadrack madzayo,NaN,NaN,NaN,male,ODM,right_only,1968,1,1
267,4,tana river,golich juma wario,NaN,NaN,NaN,male,JP,right_only,1968,0,1
268,5,lamu,hassan abdalla albeity,NaN,NaN,NaN,male,WDM-K,right_only,1968,0,1
295,10,marsabit,godana hargura,NaN,NaN,NaN,male,JP,right_only,1968,1,1
297,11,isiolo,dullo fatuma adan,NaN,NaN,NaN,female,PDR,right_only,1968,0,1
310,13,tharaka - nithi,kithure kindiki a k,NaN,NaN,NaN,male,JP,right_only,1968,0,1
319,15,kitui,enoch kiio wambua,NaN,NaN,NaN,male,WDM-K,right_only,1968,0,1
321,16,machakos,boniface mutinda kabaka,NaN,NaN,NaN,male,CCU,right_only,1968,0,1
325,17,makueni,mutula kilonzo junior,NaN,NaN,NaN,male,WDM-K,right_only,1968,0,1
332,19,nyeri,eng ephraim mwangi maina kirinyaga,NaN,NaN,NaN,male,JP,right_only,1968,0,1
339,20,kirinyaga,charles reubenson kibiru,NaN,NaN,NaN,male,IND,right_only,1968,0,1
342,22,kiambu,wamatangi paul kimani,NaN,NaN,NaN,male,JP,right_only,1968,0,1
347,24,west pokot,samuel losuron poghisio,NaN,NaN,NaN,male,KANU,right_only,1968,0,1
354,26,trans nzoia,michael maling'a mbito,NaN,NaN,NaN,male,JP,right_only,1968,0,1
367,29,nandi,cherarkey k samson,NaN,NaN,NaN,male,JP,right_only,1968,0,1
368,30,baringo,gideon kipsielei towett moi,NaN,NaN,NaN,male,KANU,right_only,1968,1,1
376,34,kajiado,phillip salau mpaayei,NaN,NaN,NaN,male,JP,right_only,1968,0,1
385,36,bomet,christopher andrew langat,NaN,NaN,NaN,male,JP,right_only,1968,0,1
389,37,kakamega,cleophas wakhungu malalah,NaN,NaN,NaN,male,ANC,right_only,1968,0,1
395,38,vihiga,khaniri george,NaN,NaN,NaN,male,ANC,right_only,1968,0,1
399,39,bungoma,moses masika wetangula,NaN,NaN,NaN,male,FORD-KENYA,right_only,1968,1,1
408,40,busia,sitswila amos wako,NaN,NaN,NaN,male,ODM,right_only,1968,1,1
410,41,siaya,james aggrey bob orengo,NaN,NaN,NaN,male,ODM,right_only,1968,1,1
433,46,nyamira,erick okongo mogeni,NaN,NaN,NaN,male,ODM,right_only,1968,0,1

In [504]:
candidates[candidates['won_2017']==1]['c_code'].value_counts()[:5]

20    2
6     2
47    1
12    1
21    1
Name: c_code, dtype: int64

In [512]:
df_2017[df_2017['county']== 'Kirinyaga']

   c_code     county                      name gender  dob        party
14     20  Kirinyaga  charles reubenson kibiru   Male  NaN  Independent

In [510]:
df_2017

,c_code,county,name,gender,dob,party
0,30,Baringo,gideon kipsielei towett moi,Male,NaN,Kenya African National Union
1,36,Bomet,christopher andrew langat,Male,NaN,Jubilee Party
2,39,Bungoma,moses masika wetangula,Male,13/09/1956,Forum For Restoration Of Democracy-Kenya
3,40,Busia,sitswila amos wako,Male,31/07/1945,Orange Democratic Movement
4,28,Elgeyo-Marakwet,onesimus kipchumba murkomen,Male,NaN,Jubilee Party
5,14,Embu,peter njeru ndwiga,Male,NaN,Jubilee Party
6,7,Garissa,mohamed yusuf haji,Male,NaN,Jubilee Party
7,43,Homa Bay,moses otieno kajwang,Male,02/02/1979,Orange Democratic Movement
8,11,Isiolo,dullo fatuma adan,Female,NaN,Party For Development And Reform
9,34,Kajiado,phillip salau mpaayei,Male,NaN,Jubilee Party
10,37,Kakamega,cleophas wakhungu malalah,Male,NaN,Amani National Congress
11,35,Kericho,aaron kipkirui cheruiyot,Male,NaN,Jubilee Party
12,22,Kiambu,wamatangi paul kimani,Male,NaN,Jubilee Party
13,3,Kilifi,stewart mwachiru shadrack madzayo,Male,NaN,Orange Democratic Movement
14,20,Kirinyaga,charles reubenson kibiru,Male,NaN,Independent
15,45,Kisii,samson kegengo ongeri,Male,23/02/1938,Orange Democratic Movement
16,42,Kisumu,fredrick otieno outa,Male,12/12/1964,Orange Democratic Movement
17,15,Kitui,enoch kiio wambua,Male,NaN,Wiper Democratic Movement- Kenya
18,2,Kwale,issa juma boy,Male,NaN,Orange Democratic Movement
19,31,Laikipia,john kinyua nderitu,Male,NaN,Jubilee Party
20,5,Lamu,hassan abdalla albeity,Male,1967,Wiper Democratic Movement- Kenya
21,16,Machakos,boniface mutinda kabaka,Male,NaN,Chama Cha Uzalendo
22,17,Makueni,mutula kilonzo junior,Male,NaN,Wiper Democratic Movement- Kenya
23,9,Mandera,mohamed maalim mahamud,Male,NaN,Jubilee Party
24,10,Marsabit,godana hargura,Male,NaN,Jubilee Party
25,12,Meru,franklin mithika linturi,Male,NaN,Jubilee Party
26,44,Migori,ben oluoch okello,Male,NaN,Orange Democratic Movement
27,1,Mombasa,mohamed faki mwinyihaji,Male,NaN,Orange Democratic Movement
28,21,Murang'a,irungu kang'ata,Male,NaN,Jubilee Party
29,47,Nairobi,johnson arthur sakaja,Male,1985,Jubilee Party
30,32,Nakuru,susan wakarura kihika,Female,NaN,Jubilee Party
31,29,Nandi,cherarkey k samson,Male,NaN,Jubilee Party
32,33,Narok,ledama ole kina,Male,NaN,Orange Democratic Movement
33,46,Nyamira,erick okongo mogeni,Male,1970,Orange Democratic Movement
34,18,Nyandarua,paul githiomi mwangi,Male,NaN,Jubilee Party
35,19,Nyeri,eng ephraim mwangi maina kirinyaga,Male,NaN,Jubilee Party
36,25,Samburu,steve ltumbesi lelegwe,Male,NaN,Jubilee Party
37,41,Siaya,james aggrey bob orengo,Male,NaN,Orange Democratic Movement
38,6,Taita Taveta,johnes mwashushe mwaruma,Male,NaN,Orange Democratic Movement
39,4,Tana River,golich juma wario,Male,NaN,Jubilee Party
40,13,Tharaka-Nithi,kithure kindiki a k,Male,NaN,Jubilee Party
41,26,Trans-Nzoia,michael maling'a mbito,Male,NaN,Jubilee Party
42,23,Turkana,malachy charles ekal imana,Male,NaN,Orange Democratic Movement
43,27,Uasin Gishu,margaret jepkoech kamar,Female,NaN,Jubilee Party
44,38,Vihiga,khaniri george,Male,NaN,Amani National Congress
45,8,Wajir,abdullahi ibrahim ali,Male,NaN,Jubilee Party
46,24,West Pokot,samuel losuron poghisio,Male,NaN,Kenya African National Union

In [50]:
from fuzzywuzzy import fuzz, process

In [63]:
fuzz.ratio(df_2013['name'][0],candidates['name'][2])

23